fieldset {

    position: absolute;
    border: 10px solid rgb(247, 239, 12);
    width: 1000px;
    height: 600px;
    background-color: white;
    margin: 0 auto;

}
legend {
    border: 10px solid rgb(247, 239, 12);
    border: 2px solid black;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    background-color: rgb(247, 239, 12);
    margin: auto;
}

p {
    border-left: 6px;
}

img {
    position: absolute;
}

div {
    position: absolute;
    width: 500px;
    height: 500px;
}

#rightSide {
    left: 500px;
    border-left: 1px solid;
}

h1 {
    margin-left: 375px;
}

body {
    background-image: url(images/smiley-face-on-black.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
